# **Tidying**

Part of the data engineering process is data cleaning and tidying. What is done in those two processes, is trying to make the data more readable, and complete. This makes much easier to analyze, visualize, and train the data.

## **Data Tidying**

Making the data more organized, and readable is the result of applying data tidying. 

In this section two main pandas functions are used in data tidying those are `melt` and `pivot_table`.

Let's start by taking a look at the below dataframe, which represents the income ranges based on religion. This is part of the PEW research, which is famous in the US for conducting pollings and surveys on citizens.

When the following are satisfied:


1. Each variable forms a column
2. Each observation forms a row
3. Each type of observational unit forms a table

We can then say that our dataset is *tidy*.

First we need to import pandas to read csv datasets.

In [1]:
# %pip install numpy pandas

In [2]:
import pandas as pd
import numpy as np
from IPython.display import display, Markdown, Latex

### **PEW Research Dataset**

1. Start by Importing the dataset into a pandas dataframe.

In [3]:
# load pew-raw.csv into a dataframe
pew_raw_df = pd.read_csv('data/pew-raw.csv')
display(pew_raw_df.describe())
display(pew_raw_df.head())

,<$10k,$10-20k,$20-30k,$30-40k,$40-50k,$50-75k
count,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000
mean,134.200000,188.100000,223.000000,212.600000,193.200000,328.400000
std,205.433309,306.460601,370.235661,338.247838,308.833576,523.264794
min,1.000000,9.000000,7.000000,9.000000,10.000000,30.000000
25%,16.000000,19.500000,24.250000,24.250000,23.250000,40.750000
50%,23.500000,27.000000,33.500000,43.000000,34.000000,82.500000
75%,177.750000,191.500000,192.000000,198.750000,166.750000,201.500000
max,575.000000,869.000000,1064.000000,982.000000,881.000000,1486.000000

            religion   <$10k   $10-20k  $20-30k  $30-40k   $40-50k  $50-75k
0           Agnostic      27        34       60       81        76      137
1            Atheist      12        27       37       52        35       70
2           Buddhist      27        21       30       34        33       58
3           Catholic     418       617      732      670       638     1116
4  Dont know/refused      15        14       15       11        10       35

2. Observe the dataset using the `loc`, `iloc`, `head`, or `tail` approaches

In [4]:
# display rows 2 and 3 for the religion column
display(pew_raw_df.loc[2:3, 'religion']) 

# alternative way to display rows 2 and 3 for the religion column index (0-based index)
display(pew_raw_df.iloc[2:4, 0]) 

# display the first 5 rows of the dataframe
display(pew_raw_df.head()) 

# display the last 5 rows of the dataframe 
display(pew_raw_df.tail())

2    Buddhist
3    Catholic
Name: religion, dtype: object

2    Buddhist
3    Catholic
Name: religion, dtype: object

            religion   <$10k   $10-20k  $20-30k  $30-40k   $40-50k  $50-75k
0           Agnostic      27        34       60       81        76      137
1            Atheist      12        27       37       52        35       70
2           Buddhist      27        21       30       34        33       58
3           Catholic     418       617      732      670       638     1116
4  Dont know/refused      15        14       15       11        10       35

,religion,<$10k,$10-20k,$20-30k,$30-40k,$40-50k,$50-75k
5,Evangelical Prot,575,869,1064,982,881,1486
6,Hindu,1,9,7,9,11,34
7,Historically Black Prot,228,244,236,238,197,223
8,Jehovahs Witness,20,27,24,24,21,30
9,Jewish,19,19,25,25,30,95

***What does not seem right in the above dataframe?***

3. Try to make the column headers represent a variable not a value. For that, use the `melt` function.

In [5]:
pew_raw_df.melt(id_vars=['religion'], var_name='income_range', value_name='count')

                    religion income_range  count
0                   Agnostic        <$10k     27
1                    Atheist        <$10k     12
2                   Buddhist        <$10k     27
3                   Catholic        <$10k    418
4          Dont know/refused        <$10k     15
5          Evangelical Prot         <$10k    575
6                     Hindu         <$10k      1
7   Historically Black Prot         <$10k    228
8          Jehovahs Witness         <$10k     20
9                    Jewish         <$10k     19
10                  Agnostic      $10-20k     34
11                   Atheist      $10-20k     27
12                  Buddhist      $10-20k     21
13                  Catholic      $10-20k    617
14         Dont know/refused      $10-20k     14
15         Evangelical Prot       $10-20k    869
16                    Hindu       $10-20k      9
17  Historically Black Prot       $10-20k    244
18         Jehovahs Witness       $10-20k     27
19                   Jewish       $10-20k     19
20                  Agnostic      $20-30k     60
21                   Atheist      $20-30k     37
22                  Buddhist      $20-30k     30
23                  Catholic      $20-30k    732
24         Dont know/refused      $20-30k     15
25         Evangelical Prot       $20-30k   1064
26                    Hindu       $20-30k      7
27  Historically Black Prot       $20-30k    236
28         Jehovahs Witness       $20-30k     24
29                   Jewish       $20-30k     25
30                  Agnostic      $30-40k     81
31                   Atheist      $30-40k     52
32                  Buddhist      $30-40k     34
33                  Catholic      $30-40k    670
34         Dont know/refused      $30-40k     11
35         Evangelical Prot       $30-40k    982
36                    Hindu       $30-40k      9
37  Historically Black Prot       $30-40k    238
38         Jehovahs Witness       $30-40k     24
39                   Jewish       $30-40k     25
40                  Agnostic      $40-50k     76
41                   Atheist      $40-50k     35
42                  Buddhist      $40-50k     33
43                  Catholic      $40-50k    638
44         Dont know/refused      $40-50k     10
45         Evangelical Prot       $40-50k    881
46                    Hindu       $40-50k     11
47  Historically Black Prot       $40-50k    197
48         Jehovahs Witness       $40-50k     21
49                   Jewish       $40-50k     30
50                  Agnostic      $50-75k    137
51                   Atheist      $50-75k     70
52                  Buddhist      $50-75k     58
53                  Catholic      $50-75k   1116
54         Dont know/refused      $50-75k     35
55         Evangelical Prot       $50-75k   1486
56                    Hindu       $50-75k     34
57  Historically Black Prot       $50-75k    223
58         Jehovahs Witness       $50-75k     30
59                   Jewish       $50-75k     95

### **Billboard Dataset**

This dataset outlines data about the top hit songs on the Billboard list and the week from entrance that it was in the billboard with the ranking.

1. Read the dataset and store it in a pandas dataframe. Note that the usual utf-8 encoding does not work on this dataset. The reason behind this is that there might be characters that are not supported by `utf-8`.

The suggestion is to use for this dataset `unicode_escape` encoding. (converts all non-ASCII characters into their \uXXXX representations)

In [6]:
billboard_df = pd.read_csv('data/billboard.csv', encoding='latin-1')
billboard_df.head()

,year,artist.inverted,track,time,genre,date.entered,date.peaked,x1st.week,x2nd.week,x3rd.week,...,x67th.week,x68th.week,x69th.week,x70th.week,x71st.week,x72nd.week,x73rd.week,x74th.week,x75th.week,x76th.week
0,2000,Destiny's Child,Independent Women Part I,3:38,Rock,2000-09-23,2000-11-18,78,63.0,49.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000,Santana,"Maria, Maria",4:18,Rock,2000-02-12,2000-04-08,15,8.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000,Savage Garden,I Knew I Loved You,4:07,Rock,1999-10-23,2000-01-29,71,48.0,43.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000,Madonna,Music,3:45,Rock,2000-08-12,2000-09-16,41,23.0,18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000,"Aguilera, Christina",Come On Over Baby (All I Want Is You),3:38,Rock,2000-08-05,2000-10-14,57,47.0,45.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

2. Observe the first few rows of the dataset.

In [7]:
billboard_df.head()

,year,artist.inverted,track,time,genre,date.entered,date.peaked,x1st.week,x2nd.week,x3rd.week,...,x67th.week,x68th.week,x69th.week,x70th.week,x71st.week,x72nd.week,x73rd.week,x74th.week,x75th.week,x76th.week
0,2000,Destiny's Child,Independent Women Part I,3:38,Rock,2000-09-23,2000-11-18,78,63.0,49.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000,Santana,"Maria, Maria",4:18,Rock,2000-02-12,2000-04-08,15,8.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000,Savage Garden,I Knew I Loved You,4:07,Rock,1999-10-23,2000-01-29,71,48.0,43.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000,Madonna,Music,3:45,Rock,2000-08-12,2000-09-16,41,23.0,18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000,"Aguilera, Christina",Come On Over Baby (All I Want Is You),3:38,Rock,2000-08-05,2000-10-14,57,47.0,45.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

***What is wrong with the above dataset?***

3. Let's, again, use the `melt` function to fix the general structure of the dataframe.

In [8]:
# we will use regex to pick columns
import re

# pick columns with a regex pattern
week_cols = [c for c in billboard_df.columns
             if re.fullmatch(r'^x\d+(st|nd|rd|th)\.week$', c)]

df_long = billboard_df.melt(
    id_vars=[
        "year","artist.inverted","track","time","genre",
        "date.entered","date.peaked"
    ],
    value_vars=week_cols,
    var_name="week",
    value_name="rank"
)


# display the first 10 rows of the long format dataframe
display(df_long.head(10))

,year,artist.inverted,track,time,genre,date.entered,date.peaked,week,rank
0,2000,Destiny's Child,Independent Women Part I,3:38,Rock,2000-09-23,2000-11-18,x1st.week,78.0
1,2000,Santana,"Maria, Maria",4:18,Rock,2000-02-12,2000-04-08,x1st.week,15.0
2,2000,Savage Garden,I Knew I Loved You,4:07,Rock,1999-10-23,2000-01-29,x1st.week,71.0
3,2000,Madonna,Music,3:45,Rock,2000-08-12,2000-09-16,x1st.week,41.0
4,2000,"Aguilera, Christina",Come On Over Baby (All I Want Is You),3:38,Rock,2000-08-05,2000-10-14,x1st.week,57.0
5,2000,Janet,Doesn't Really Matter,4:17,Rock,2000-06-17,2000-08-26,x1st.week,59.0
6,2000,Destiny's Child,Say My Name,4:31,Rock,1999-12-25,2000-03-18,x1st.week,83.0
7,2000,"Iglesias, Enrique",Be With You,3:36,Latin,2000-04-01,2000-06-24,x1st.week,63.0
8,2000,Sisqo,Incomplete,3:52,Rock,2000-06-24,2000-08-12,x1st.week,77.0
9,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,x1st.week,81.0

If we inspect the current dataframe. We find that it is structured in a better way than before. 

However, the ***Week*** column looks a bit ugly!

4. Let's try to place only the week number in that column without the extras surronding it.

In [9]:
# extract week number as int
df_long["week"] = df_long["week"].str.extract(r'^x(\d+)').astype(int)

# inspect the cleaned up dataframe
df_long

,year,artist.inverted,track,time,genre,date.entered,date.peaked,week,rank
0,2000,Destiny's Child,Independent Women Part I,3:38,Rock,2000-09-23,2000-11-18,1,78.0
1,2000,Santana,"Maria, Maria",4:18,Rock,2000-02-12,2000-04-08,1,15.0
2,2000,Savage Garden,I Knew I Loved You,4:07,Rock,1999-10-23,2000-01-29,1,71.0
3,2000,Madonna,Music,3:45,Rock,2000-08-12,2000-09-16,1,41.0
4,2000,"Aguilera, Christina",Come On Over Baby (All I Want Is You),3:38,Rock,2000-08-05,2000-10-14,1,57.0
...,...,...,...,...,...,...,...,...,...
24087,2000,Ghostface Killah,Cherchez LaGhost,3:04,R&B,2000-08-05,2000-08-05,76,NaN
24088,2000,"Smith, Will",Freakin' It,3:58,Rap,2000-02-12,2000-02-12,76,NaN
24089,2000,Zombie Nation,Kernkraft 400,3:30,Rock,2000-09-02,2000-09-02,76,NaN
24090,2000,"Eastsidaz, The",Got Beef,3:58,Rap,2000-07-01,2000-07-01,76,NaN
24091,2000,Fragma,Toca's Miracle,3:22,R&B,2000-10-28,2000-10-28,76,NaN

5. Now let's inspect the ***Week*** column in the dataframe.

In [10]:
df_long["week"]

0         1
1         1
2         1
3         1
4         1
         ..
24087    76
24088    76
24089    76
24090    76
24091    76
Name: week, Length: 24092, dtype: int64

Next, let's try to find the date at which the song ranked the number that is shown per row.

6. To do that let's first think of the equation that is going to get us the relevant date at which the song ranked the *rth*.

*Timedeltas are absolute differences in times, expressed in difference units (e.g. days, hours, minutes, seconds). This method converts an argument from a recognized timedelta format / value into a Timedelta type.*

To find the exact date when a song achieved the rank shown in each row, use the entry date plus the number of weeks elapsed (based on the week column). The rank is not used in the date calculation, it is only an attribute of that specific week. This is the fomula:

`chart_date = date.entered + timedelta(weeks = week - 1)`

***What is the problem with the calculation above?***

7. Let's only keep necessary columns

In [11]:
df_long = df_long.loc[:, ["artist.inverted", "track", "date.entered", "date.peaked", "week", "rank"]]
df_long

,artist.inverted,track,date.entered,date.peaked,week,rank
0,Destiny's Child,Independent Women Part I,2000-09-23,2000-11-18,1,78.0
1,Santana,"Maria, Maria",2000-02-12,2000-04-08,1,15.0
2,Savage Garden,I Knew I Loved You,1999-10-23,2000-01-29,1,71.0
3,Madonna,Music,2000-08-12,2000-09-16,1,41.0
4,"Aguilera, Christina",Come On Over Baby (All I Want Is You),2000-08-05,2000-10-14,1,57.0
...,...,...,...,...,...,...
24087,Ghostface Killah,Cherchez LaGhost,2000-08-05,2000-08-05,76,NaN
24088,"Smith, Will",Freakin' It,2000-02-12,2000-02-12,76,NaN
24089,Zombie Nation,Kernkraft 400,2000-09-02,2000-09-02,76,NaN
24090,"Eastsidaz, The",Got Beef,2000-07-01,2000-07-01,76,NaN
24091,Fragma,Toca's Miracle,2000-10-28,2000-10-28,76,NaN

8. How to rename your columns?

In [12]:
df_long.rename(columns={"artist.inverted": "arstist_inverted", "date.entered": "date_entered", "date.peaked": "date_peaked"}, inplace=True)
df_long

,arstist_inverted,track,date_entered,date_peaked,week,rank
0,Destiny's Child,Independent Women Part I,2000-09-23,2000-11-18,1,78.0
1,Santana,"Maria, Maria",2000-02-12,2000-04-08,1,15.0
2,Savage Garden,I Knew I Loved You,1999-10-23,2000-01-29,1,71.0
3,Madonna,Music,2000-08-12,2000-09-16,1,41.0
4,"Aguilera, Christina",Come On Over Baby (All I Want Is You),2000-08-05,2000-10-14,1,57.0
...,...,...,...,...,...,...
24087,Ghostface Killah,Cherchez LaGhost,2000-08-05,2000-08-05,76,NaN
24088,"Smith, Will",Freakin' It,2000-02-12,2000-02-12,76,NaN
24089,Zombie Nation,Kernkraft 400,2000-09-02,2000-09-02,76,NaN
24090,"Eastsidaz, The",Got Beef,2000-07-01,2000-07-01,76,NaN
24091,Fragma,Toca's Miracle,2000-10-28,2000-10-28,76,NaN

Display the dataframe

In [13]:
display(df_long)



Markdown('# The original dataframe shape is:\n   # **' + str(df_long.shape) + '**')

,arstist_inverted,track,date_entered,date_peaked,week,rank
0,Destiny's Child,Independent Women Part I,2000-09-23,2000-11-18,1,78.0
1,Santana,"Maria, Maria",2000-02-12,2000-04-08,1,15.0
2,Savage Garden,I Knew I Loved You,1999-10-23,2000-01-29,1,71.0
3,Madonna,Music,2000-08-12,2000-09-16,1,41.0
4,"Aguilera, Christina",Come On Over Baby (All I Want Is You),2000-08-05,2000-10-14,1,57.0
...,...,...,...,...,...,...
24087,Ghostface Killah,Cherchez LaGhost,2000-08-05,2000-08-05,76,NaN
24088,"Smith, Will",Freakin' It,2000-02-12,2000-02-12,76,NaN
24089,Zombie Nation,Kernkraft 400,2000-09-02,2000-09-02,76,NaN
24090,"Eastsidaz, The",Got Beef,2000-07-01,2000-07-01,76,NaN
24091,Fragma,Toca's Miracle,2000-10-28,2000-10-28,76,NaN

# The original dataframe shape is:
   # **(24092, 6)**

In the above dataframe, there are some *NaN* values. What are we going to do? <br/>
9. Apply quick data cleaning and then observe the dataset

In [14]:
# what if we want to drop rows with NaN in rank column
df_long = df_long.dropna(subset=["rank"])

# check the shape of the cleaned up dataframe
display(df_long)

Markdown('# After cleanup, the new dataframe shape is:\n   # **' + str(df_long.shape) + '**')

,arstist_inverted,track,date_entered,date_peaked,week,rank
0,Destiny's Child,Independent Women Part I,2000-09-23,2000-11-18,1,78.0
1,Santana,"Maria, Maria",2000-02-12,2000-04-08,1,15.0
2,Savage Garden,I Knew I Loved You,1999-10-23,2000-01-29,1,71.0
3,Madonna,Music,2000-08-12,2000-09-16,1,41.0
4,"Aguilera, Christina",Come On Over Baby (All I Want Is You),2000-08-05,2000-10-14,1,57.0
...,...,...,...,...,...,...
19663,Lonestar,Amazed,1999-06-05,2000-03-04,63,45.0
19700,Creed,Higher,1999-09-11,2000-07-22,63,50.0
19980,Lonestar,Amazed,1999-06-05,2000-03-04,64,50.0
20017,Creed,Higher,1999-09-11,2000-07-22,64,50.0
20334,Creed,Higher,1999-09-11,2000-07-22,65,49.0

# After cleanup, the new dataframe shape is:
   # **(5307, 6)**

## **Data Cleaning**

Data cleaning involves removing unwanted characters, imputing, or dropping missing values.

The decision is based on the dataset you have, and the information you can extract from the other columns.


Examples of data cleaning include cleaning:

1.   **Missing Data**
2.   **Irregular Data** (Outliers)
3.   **Unnecessary Data**  Repetitive Data, Duplicates and more
4.   **Inconsistent Data**  Capitalization, Addresses and more

### **Cars Data Set**

Start by reading the dataset related to car models: ./CSVs/cars.csv

In [15]:
# read the data/cars.csv file into a dataframe
cars_df = pd.read_csv('data/cars.csv', sep=';')
cars_df.head()

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
0,STRING,DOUBLE,INT,DOUBLE,DOUBLE,DOUBLE,DOUBLE,INT,CAT
1,Chevrolet Chevelle Malibu,NaN,8,307.0,130.0,3504.,12.0,70,US
2,Buick Skylark 320,15.0,8,350.0,NaN,3693.,11.5,70,US
3,Plymouth Satellite,NaN,8,318.0,150.0,3436.,11.0,70,US
4,AMC Rebel SST,16.0,8,NaN,150.0,NaN,12.0,70,US

First Row seems to be the datatype, we need to remove it

In [16]:
# remove the first row
cars_df = cars_df.drop(index=0)
cars_df.head()

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
1,Chevrolet Chevelle Malibu,NaN,8,307.0,130.0,3504.,12.0,70,US
2,Buick Skylark 320,15.0,8,350.0,NaN,3693.,11.5,70,US
3,Plymouth Satellite,NaN,8,318.0,150.0,3436.,11.0,70,US
4,AMC Rebel SST,16.0,8,NaN,150.0,NaN,12.0,70,US
5,Ford Torino,17.0,8,302.0,140.0,3449.,10.5,70,US

In [17]:
Markdown('# Shape of the Cars dataframe:\n   # **' + str(cars_df.shape) + '**')

# Shape of the Cars dataframe:
   # **(406, 9)**

Let's observe the columns with null values.  Either by using the `isnull().sum()` function

In [18]:
# check columns with null values
cars_df.isnull().sum()

Car             0
MPG             3
Cylinders       0
Displacement    1
Horsepower      2
Weight          1
Acceleration    0
Model           0
Origin          0
dtype: int64

There aren't many missing values. Let's take a glimpse at the percentage of the missing values:

**HINT:** We'll need `Numpy` for the below task.

In [19]:
# check the percentage of null values in each column
null_percent = cars_df.isnull().mean() * 100
null_percent = null_percent.map(lambda x: f"{x:.2f}%")

# rename second column of null_percent series
null_percent.index.name = 'Column'
null_percent.name = 'Percentage of Null Values'


Markdown('# Percentage of null values in each column:')

# Percentage of null values in each column:

In [20]:
display(null_percent)

Column
Car             0.00%
MPG             0.74%
Cylinders       0.00%
Displacement    0.25%
Horsepower      0.49%
Weight          0.25%
Acceleration    0.00%
Model           0.00%
Origin          0.00%
Name: Percentage of Null Values, dtype: object

Around *0.19%* of the values are missing, which isn't a lot. Therefore, we might go with the option of dropping all the rows with null values.

In [ ]:
cars_df_cleaned

Lets also check dropping the columns

Let's observe how many columns we lost

In [31]:
# drop all the rows with any null values
cars_df_cleaned = cars_df.dropna()

In [30]:
Markdown('# Shape of the original Cars dataframe:\n   # **' + str(cars_df.shape) + '**')

# Shape of the original Cars dataframe:
   # **(406, 9)**

In [29]:
Markdown('# Shape of the cleaned up Cars dataframe after dropping rows with any null values:\n   # **' + str(cars_df_cleaned.shape) + '**')

# Shape of the cleaned up Cars dataframe after dropping rows with any null values:
   # **(401, 9)**

In [32]:
orginal_row_count = cars_df.shape[0]
cleaned_row_count = cars_df_cleaned.shape[0]
Markdown(f'# Number of rows dropped: **{orginal_row_count - cleaned_row_count}**')

# Number of rows dropped: **5**

### **Cars Dataset - Filling in missing values automatically**

Another option is to try and fill in the missing values through imputations.

Let's take the `MPG` column for example. We can fill in the missing values with 0s through the following line of code:

`df_cars.fillna(0) `.

However, this does not make much sense as there isn't MPG equal to 0. How about we plot the MPG column and if it follows a random distribution we can use the mean of the column to compute the missing values. Otherwise, we can use the median (if there is a skewed normal distribution). However, there might be a better way of imputation which is getting the median or the mean of the MPG of the cars with similar attributes.

If we observe the graph above, we can consider it in a way or another normally distributed. Therefore, we can impute the missing values using the mean.

To compute the mean we need numeric values. However the values in the dataframe are objects. Therefore, we need to change them to numerics so that we can compute them.

Now let's see what is the mean of the MPG column

We can use this mean to compute the missing values since the graph demonstarted a normal distribution

### **Car Dataset - Simple Imputer**

*SimpleImputer* is a `scikit-learn` class which is helpful in handling the missing data in the predictive model dataset. It replaces the `NaN` values with a specified placeholder.
It is implemented by the use of the `SimpleImputer()` method which takes the following arguments :

`missing_values` : The missing_values placeholder which has to be imputed. By default is NaN

`strategy` : The data which will replace the NaN values from the dataset. The strategy argument can take the values  mean'(default), median, most_frequent and constant.

Let's start by importing the `SimpleImputer` into our notebook

What we need to do are two essential steps:

1. fit the data (compute the mean / median / most freq)
2. transform the data (place the computed values in the NaN cells)

## **Outlier Detection** 


An Outlier is a data-item/object that deviates significantly from the rest of the (so-called normal)objects. They can be caused by measurement or execution errors. The analysis for outlier detection is referred to as outlier mining. There are many ways to detect the outliers, and the removal process is the data frame same as removing a data item from the pandas data frame.



https://www.geeksforgeeks.org/detect-and-remove-the-outliers-using-python/

### Outliers Visualization

#### Visualizing Outliers Using Box Plot
It captures the summary of the data effectively and efficiently with only a simple box and whiskers. Boxplot summarizes sample data using 25th, 50th, and 75th percentiles. One can just get insights(quartiles, median, and outliers) into the dataset by just looking at its boxplot.

#### Visualizing Outliers Using ScatterPlot.

It is used when you have paired numerical data and when your dependent variable has multiple values for each reading independent variable, or when trying to determine the relationship between the two variables. In the process of utilizing the scatter plot, one can also use it for outlier detection.

#### Z-Score:
Z- Score is also called a standard score. This value/score helps to understand that how far is the data point from the mean. And after setting up a threshold value one can utilize z score values of data points to define the outliers.
<br>
Zscore = (data_point -mean) / std. deviation

Now to define an outlier threshold value is chosen which is generally 3.0. As 99.7% of the data points lie between +/- 3 standard deviation (using Gaussian Distribution approach).

Rows where Z value is greater than 2

#### IQR (Inter-Quartile Range)
Inter Quartile Range approach to finding the outliers is the most commonly used and most trusted approach used in the research field. <Br>
IQR = Quartile3 - Quartile1

To define the outlier base value is defined above and below datasets normal range namely Upper and Lower bounds, define the upper and the lower bound (1.5*IQR value is considered) :<br>
upper = Q3 + 1.5 * IQR <br>
lower = Q1 - 1.5 * IQR <br>

- Removing the outliers:
For removing the outlier, one must follow the same process of removing an entry from the dataset using its exact position in the dataset because in all the above methods of detecting the outliers end result is the list of all those data items that satisfy the outlier definition according to the method used.